<a href="https://colab.research.google.com/github/ProNatalya/python/blob/main/indy_crs_1_1_to_1_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Площадь и периметр прямоугольника
## Входные данные

На вход программе в отдельных строках поступают два вещественных числа a и b: длина и ширина прямоугольника.

Выходные данные

Программа должна вывести через пробел два значения: сперва площадь S, а затем периметр P прямоугольника

In [ ]:
a = float(input())
b = float(input())
s = a * b
p = 2 * (a + b)
print(s, p, sep=' ')

2
3
6.0 10.0

In [ ]:
a = float(input())
b = float(input())
print(a * b, 2 * (a + b))

In [ ]:
a = float(input(" "))
b = float(input(" "))
S = a * b
P = 2 *(a + b)
print(S, P)

 2
 5
10.0 14.0

In [ ]:
x1, x2 = float(input()), float(input())
print(abs(x1 - x2))

5
9
4.0

In [ ]:
print(*[abs(n1 - n2) for n1, n2 in [map(float, input().split())]])
# * распаковывает список

In [ ]:
a = float(input())
print(round(a, 2), round(a, 3))

1.65578
1.66 1.656

# Выражение
## Петя учится в школе и очень любит математику. Уже несколько занятий они с классом проходят арифметические выражения. На последнем уроке учительница написала на доске три положительных целых числа a, b, c. Задание заключалось в том, чтобы расставить между этими числами знаки операций '+' и '*', а также, возможно, скобки. Значение получившегося выражения должно быть как можно больше. Рассмотрим пример: пусть учительница выписала на доску числа 1, 2 и 3. Вот некоторые варианты расстановки знаков и скобок:

1+2*3=7
1*(2+3)=5
1*2*3=6
(1+2)*3=9

Обратите внимание на то, что знаки операций можно вставлять только между a и b, а также между b и c, то есть нельзя менять числа местами. Так, в приведенном примере нельзя получить выражение (1+3)*2.

Легко убедиться, что максимальное значение, которое можно получить, — это 9.

Ваша задача — по заданным a, b и c вывести, какое максимальное значение выражения можно получить.

Входные данные

Во входных данных записаны три целых числа a, b и c, каждое в отдельной строке (1 ≤ a, b, c ≤ 10).

Выходные данные

Выведите максимальное значение выражения, которое можно получить.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
s1 = a + b + c
s2 = a * b * c
s3 = a + b * c
s4 = a * b + c
s5 = a * (b + c)
s6 = (a + b) * c
print(max(s1, s2, s3, s4, s5, s6))

In [ ]:
a, b, c = (int(input()) for _ in range(3))
print(max(a*b*c, a+b+c, (a+b)*c, a*(b+c)))

3
7
7
147

# Варианты использования функцииinput()

## a = input() - если необходимо ввести строку и сохранить ее в переменную а
## a = int(input()) - если необходимо ввести целое число и сохранить его в переменную а
## a = float(input()) - если необходимо ввести вещественное число и сохранить его в переменную а
## a,b = map(int,input().split()) - если необходимо ввести два целых числа в одну строку через пробел
## a,b,c = map(float,input().split()) - если необходимо ввести три вещественных числа в одну строку через пробел

In [ ]:
a, b, c, d = map(int, input().split())
total = [a, b, c, d]
print(sum(total)/4)

In [ ]:
a, b, c, d, e = map(int, input().split())# 1 вариант
print(max(a, b, c, d, e))

In [ ]:
print(max(map(int, input().split()))) # 2 вариант

# Известно, что на обработку одного квадратного метра панели требуется 1г сульфида. Всего необходимо обработать N прямоугольных панелей размером A на B метров. Вам необходимо подсчитать, сколько всего сульфида необходимо на обработку всех панелей. И не забудьте, что панели требуют обработки с обеих сторон.

# На вход программе подаются 3 положительных целых числа N,A,B в одну строку

In [ ]:
n, a, b = map(int, input().split())
result =  n * a * b*2 # 4 стороны у прямоугольника
print(result)

# Журавлики
## Петя, Катя и Сережа делают из бумаги журавликов. Вместе они сделали S журавликов. Сколько журавликов сделал каждый ребенок, если известно, что Петя и Сережа сделали одинаковое количество журавликов, а Катя сделала в два раза больше журавликов, чем Петя и Сережа вместе?

## Входные данные
Поступает одно натуральное число S – общее количество сделанных журавликов.

## Выходные данные
В единственную строку нужно вывести три числа, разделенных пробелами – количество журавликов, которые сделал каждый ребенок (Петя, Катя и Сережа).

In [ ]:
# x - Петя, x - Сережа, 2*2x = 4x
# 2x + 4x = s
s = int(input())  # 6, 24, 60 - тестовые данные
a = int(s/6) # s // 6
print(a, 4*a, a)

6
1 4 1

In [ ]:
x, y, z = map(int, input().split())
# x - колличество карандашей, y - колличество ручек, z - колличество фломастеров
# price_карандаш = 3, price_ручки = 3 + 2 = 5, price_фломастера = 5 + 7 = 12
print(3 * x + 5 * y + 12 * z) # стоимость покупки
# тестовые данные: 1 1 1, 23 8 76

1 1 1
20

In [ ]:
a, b = map(int, input().split())
total = (a + b) - 1 # тк одна общая
print(str(total - a), str(total - b))
# 6 3; 2 4; 3 1

6 3
2 5

In [ ]:
# Сумму считать не надо. Каждый недострелял ровно столько, сколько подстрелил
# другой минус одна банка (которую подстрелили оба).
x, y = map(int, input().split())
print(y-1, x-1)

In [ ]:
print('Гвидо', 'Ван', 'Россум', sep='*', end='-')
print('Основатель', 'Питона', sep='_', end='!')

Гвидо*Ван*Россум-Основатель_Питона!

In [ ]:
# Дано целое положительное число, ваша задача вывести разряд сотен этого числа
n = int(input())
print(n // 100 % 10)

In [ ]:
# Дано целое положительное трехзначное число, ваша задача найти сумму
# разрядов этого числа
n = int(input())
last_digit = n % 10
second_digit = n // 10 % 10
first_digit = n // 100
print(last_digit + second_digit + first_digit)

456
15

In [ ]:
n = int(input())
one = n//100
two =  n%100//10
three = n%10
print(one + two + three)

234
9

# Выиграть в лотерею
## У Олега в банке есть n евро. Он хочет снять всю сумму наличными. Номиналы еврокупюр равны 1, 5, 10, 20, 100. Какое минимальное число купюр должен получить Олег после того, как снимет все деньги? На вход программе поступает одно положительные целое число n.

In [ ]:
n = int(input())
# используем жадный алгоритм
count_100 = n // 100
n = n % 100
count_20 = n // 20
n = n % 20
count_10 = n // 10
n = n % 10
count_5 = n // 5
n = n % 5
count_1 = n // 1
result = count_100 + count_20 + count_10 + count_5 + count_1
print(result)

4677
53

In [ ]:
cash = int(input())
sum = 0
for i in [100, 20, 10, 5, 1]:
    sum += cash // i
    cash = cash % i
print(sum)

456
9

#  Электронные часы - 1
## Дано число n. С начала суток прошло n минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент.

## Программа должна вывести два числа: количество часов (от 0 до 23) и количество минут (от 0 до 59).

## Учтите, что число n может быть больше, чем количество минут в сутках.

In [ ]:
n = int(input())
n = n % 1440 # отбрасываем полное количество суток, 24 часа*60 мин
print(n//60, n % 60) # 2 % 60 = 2
# тестовые : 1450, 137

1450
0 10

# Следующее четное
## Дано целое число n. Выведите следующее за ним четное число.

Задачу необходимо решить целочисленными операциями без использования условных операторов и\или циклов.

In [ ]:
n = int(input())
next = n + 2 - n % 2
print(next)

3456
3458

# Электронные часы - 2
## Электронные часы показывают время в формате h:mm:ss, то есть сначала записывается количество часов в диапазоне от 0 до 23, потом обязательно двузначное количество минут, затем обязательно двузначное количество секунд. Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

## Программа получает на вход число n - количество секунд, которое прошло с начала суток.

## Выведите показания часов, соблюдая формат.

In [1]:
n = int(input()) # количество секунд
hour = (n // 3600) % 24 # убираем полное количество суток
n = n % 3600
minute = n // 60
n = n % 60
sec = n
print(hour, ':', minute // 10, minute % 10, ':', sec // 10, sec % 10,sep='')

2456
0:40:56